# =====================================================
# Dynamic Configuration for Traefik {{ traefik.version | default('v3.3') }}
# Author: Uncommon Fix (https://www.youtube.com/@uncommonfix)
# Last Modified: 2025-09-02
# =====================================================
#
# DISCLAIMER:
# This configuration is provided as-is without any warranty of any kind.
# The author takes no responsibility for any issues, misconfigurations,
# or security vulnerabilities that may arise from using this configuration.
# It is the user's responsibility to understand and verify all settings
# before deployment to their environment. Users should ensure proper
# security measures are in place before using in production.
# =====================================================

http:
  middlewares:
    to-https:
      redirectScheme:
        scheme: https
        port: 443
        permanent: true

    compress:
      compress: true

  serversTransports:
    https-proxy:
      insecureSkipVerify: true
